<style>
/*
.img_nav{
	position: fixed;
	bottom: 50px; /* 이미지 줄이 네비게이션 줄 위에 오도록 조정 */
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 2; /* 이미지 줄이 네비게이션 줄 위에 오도록 z-index 추가 
}

.img_nav li{
	display: inline-block;
	list-style: none;
	margin: 0 30px;
}
*/
.nav{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #eee;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
	z-index: 1; /* 네비게이션 줄이 이미지 줄 아래로 오도록 z-index 추가 */
}

.nav li{
	display: inline-block;
	list-style: none;
	margin: 0 30px;
}
</style>
